/* 簡易的なリセットCSS　 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

/* 右の余白を消す？？　body 全体にかけたみたけれど・・・ */
.wrap {
    overflow: hidden;
}

/* ヘッダーの部分  　余白をつける*/
header {
    padding-top: 20px;
}

/* コーチテックの文字 */
.logo {
    font-size: 20px;
    font-weight: bold;
    color: navy;
    margin-left: 20px;
    /* float left で　liと並べることになる*/
    float: left;
}

/* ナビのところを右に寄せる　色もネイビー */
/* 親要素　Ulに対して　 */
.flexbox {
    font-size: 18px;
    /* 黒・を消す */
    list-style: none;
    display: flex;
    /* 右寄せの設定 */
    justify-content: flex-end;
}

/* li のクラス名に対しての設定 */
.flexbox-text {
    color: navy;
    /* 右寄せしているので、右に余白を入れる */
    margin-right: 20px;
}

/* liの下線削除 */
a {
    text-decoration: none;
}

.main {
    position: relative;
}

/* メッセージの編集 毎日を笑顔に*/
.text {
    position: absolute;
    font-weight: bold;
    font-size: 64px;
    top: 380px;
    /* フォントの設定 */
    font-family: 'Gorditas', cursive;
    font-family: 'Noto Sans JP', sans-serif;
}


/*青色の長方形  */
.box {
    /* 左に配置 */
    position: absolute;
    float: left;
    top: 480px;
    /*main=画面幅？から２０％右にすると右から右が２０％余白になる？  */
    right: 20%;
    width: 80%;
    height: 200px;
    background: navy;
}



/* 画像自体のサイズ変更 */
.firstview {
    /* 画像の配置 */
    position: absolute;
    top: 270px;
    /* left: 500px;  ←絶対値にすると固定されブラウザの横幅を変えても大きさが変わらない*/
    left: 56%;
    /* 画面の自体のサイズ変更 */
    width: 650px;
    height: 350px;

}