/* 簡易的なリセットCSS　 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ヘッダーの部分  　余白をつける*/
header {
    padding-top: 20px;
}

/* コーチテックの文字 */
.logo {
    color: navy;
    margin-left: 20px;
    /* float left で　liと並べることになる*/
    float: left;
}

/* ナビのところを右に寄せる　色もネイビー */
/* 親要素　Ulに対して　 */
.flexbox {
    /* 黒・を消す */
    list-style: none;
    display: flex;
    /* 右寄せの設定 */
    justify-content: flex-end;
}

/* li のクラス名に対しての設定 */
.flexbox-text {
    color: navy;
    /* 右寄せしているので、右に余白を入れる */
    margin-right: 20px;
}

/* liの下線削除 */
a {
    text-decoration: none;
}

.main {
    position: relative;
}

/* メッセージの編集 毎日を笑顔に*/
.text {
    position: absolute;
    font-weight: bold;
    font-size: 64px;
    top: 200px;
    /* フォントの設定 */
    font-family: 'Gorditas', cursive;
    font-family: 'Noto Sans JP', sans-serif;
}


/*青色の長方形  */
.box {
    /* 左に配置 */
    position: absolute;
    float: left;
    top: 300px;
    width: 80%;
    height: 200px;
    background: navy;
}


/* 画像自体のサイズ変更 */
.firstview {
    /* 画像の配置 */
    position: absolute;
    top: 90px;
    left: 56%;
    right: 0;
    /* 画面の自体のサイズ変更 */
    width: 650px;
    height: 350px;
}