/* 簡易的なリセットCSS　 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

/* 右の余白を消す？？　body 全体にかけたみたけれど・・・ */
.wrap {
    overflow: hidden;
}

/* ヘッダーの部分  　余白をつける*/
header {
    padding-top: 20px;
}

/* コーチテックの文字 */
.logo {
    font-size: 20px;
    font-weight: bold;
    color: navy;
    margin-left: 20px;
    /* float left で　liと並べることになる*/
    float: left;
}

/* ナビのところを右に寄せる　色もネイビー */
/* 親要素　Ulに対して　 */
.flexbox {
    font-size: 18px;
    /* 黒・を消す */
    list-style: none;
    display: flex;
    /* 右寄せの設定 */
    justify-content: flex-end;
}

/* li のクラス名に対しての設定 */
.flexbox-text {
    color: navy;
    /* 右寄せしているので、右に余白を入れる */
    margin-right: 20px;
}

/* liの下線削除 */
a {
    text-decoration: none;
}

.main {
    position: relative;
}

/* メッセージの編集 毎日を笑顔に*/
.text {
    position: absolute;
    font-weight: bold;
    font-size: 64px;
    /* topを絶対値（固定）ではなく画面の高さの４４％の位置に設定 */
    top: 44vh;
    /* フォントの設定 */
    font-family: 'Gorditas', cursive;
    font-family: 'Noto Sans JP', sans-serif;
}


/*青色の長方形  */
.box {
    /* 左に配置 */
    position: absolute;
    float: left;
    /* top:480px;という絶対値（固定）ではなく、画面から●●％の大きさに変更 */
    top: 55vh;
    /*main=画面幅？から２０％右にすると右から右が２０％余白になるようだ  */
    right: 20%;
    width: 80%;
    height: 200px;
    background: navy;
}



/* 画像自体のサイズ変更 */
.firstview {
    /* 画像の配置 */
    position: absolute;
    top: 27vh;
    /* leftとright両方指定されているからうまくいかないようだ。right 0にすれば画面の右に配置
    left を削除するといいかも*/
    right: 0;
    /* 画面の自体のサイズ変更 */
    /*画像を画面幅の４０％にした。right:0;の設定により画面の右端から４０％幅の画像になる */
    width: 40vw;
    height: 350px;
}